@mixin input-field {
	padding: 12px 0;

	border-top: 1px solid #d2d5db;

	h3 {
		font-weight: bold;
		font-size: 16px;

		margin-bottom: 10px;

		.highlight {
			color: $primary-color;
			font-weight: lighter;
			font-size: 13px;
		}
	}
	.button {
		margin-right: 6px;
		padding: 8px 20px;

		font-size: 13px;
		background: #ffffff;
		border: 2px solid #e8eaed;

		color: #a8abb0;
	}
	.input {
		margin-bottom: 10px;
	}
	.verified {
		@include verified;
	}
}
@mixin verified {
	font-size: 13px;

	height: 30px;

	// background-color: gray;

	.text {
		display: flex;
		align-items: center;
		.material-icons {
			font-size: 14px;
			font-weight: bold;

			margin-right: 10px;
		}

		&.placeholder {
			color: $disabled-color;
		}

		&.resolve {
			color: #81b6ff;
		}
		&.reject {
			color: #ff1c7c;
		}
	}
}
